@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;500;600;700;800;900&display=swap');

body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Outfit';
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 8% 0 3% 0;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.50rem;
}

/*Containers*/

.container {
  background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  border-radius: 8%;
  left: 510px;
  position: absolute;
  top: 50px;
  width: 30%;
}

.container-card, .container-submit {
  padding: 8%;
}

.container-content {
  margin: 0;
  padding: 30px 20px 0; 
}

.container-buttons {
  display: flex;
  font-weight: bold;
  gap: 0 20px;
  justify-content: center;
  margin: 15px auto;
}

.container-submit {
  margin: 0 auto;
  padding: 60px 20px 20px; 
  width: 80%;
}

/*Botões*/

button {
  border: none;
  cursor: pointer;
  display: inline;
  font-size: 20px;
}

button:hover {
  background-color: hsl(25, 97%, 53%);
}

button:focus {
  background-color: hsl(217, 12%, 63%);
}

.btn {
  background-color:hsla(216, 12%, 54%, 0.205);
  border-radius: 100%;
  color: hsl(217, 12%, 63%);
  padding: 12px 18px;
}

.btn-submit {
  background-color: #ffffff;
  border-radius: 40px;
  color: hsl(25, 97%, 53%);
  height: 40px;
  margin: 10px auto 40px;
  width: 100%;
}


.btn-submit:hover{
  color: white;
}

/* Imgs */

.container-content-img {
  background-color:hsla(216, 12%, 54%, 0.205);
  border-radius: 50%;
  padding: 5%;
}

.submit-img {
  display: block;
  margin: 0 auto;
}

/*Resultado*/
.result {
  background: hsla(216, 12%, 54%, 0.205);
  border-radius: 20px;
  color:hsl(25, 97%, 53%);
  font-weight: 400;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
}

/*Footer*/
.footer-container{
  font-size: 0.75rem;
  padding-top: 0;
  position: relative;
  right: -30px;
  text-align: center;
  top: 550px;
}
/*Media query*/
@media screen and (max-width: 1030px) {

  button {
    font-size: 1.25rem;
  }
  .container {
    display: block;
    margin: 80px auto;
    padding: 0.24rem;
    position:static;
    width: 40%;
  }

  .container-content {
    padding: 0 1.35rem 1rem 1.35rem;
  }

  .btn-submit {
    display: block; 
    margin: 20px auto 20px;
  }

  .container-buttons {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    gap: 0 10px;
    justify-content: center;
    margin: 10px;
  }

  .content-img {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 840px) {
  p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  button {
    font-size: 1rem;
    margin-top: 0;
  }
  .btn {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    width: 80%;
    
  }
  .container-content {
    padding: 20px 0;
  }
}